body {
    background:#BF938F;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments {
    display: flex;
    flex-wrap: wrap;
}

.assignment {
    width: 22%;
    padding:10px;
    margin:10px;
    padding:20px 10px;
    background:#D9D4D0;
    border-radius:5px;
}

.assignment img {
    width:200px;
    margin: 10px;
    border: 5px solid #536473;
    border-radius:5px;
    display: block;
    margin: auto;
}

.assignment img:hover {
    border: 5px solid #F2EDE9;
}

h1 {
    color:#6d4646;
    text-align:center;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #536473
}

a:hover {
    color: #F2EDE9;
}